<%- include('../partials/header.ejs') %>

<body class="new-car-page">
  <form action="/cars/<%=car._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
    <label for="name">Car Make:</label>
    <input type="text" name="name" id="name" value="<%= car.name %>" />
    <label for="model">Car Model:</label>
  <input type="text" name="model" id="model" value="<%= car.model %>" required />

    <label for="type">Type of Car:</label>
            <select name="type" id="type"required>
                <option value="Sedan" <%= car.type === "Sedan" ? "selected" : "" %>>Sedan</option>
                <option value="Coupe" <%= car.type === "Coupe" ? "selected" : "" %>>Coupe</option>
                <option value="Suv" <%= car.type === "Suv" ? "selected" : "" %>>SUV</option>
                <option value="Truck" <%= car.type === "Truck" ? "selected" : "" %>>Truck</option>
                <option value="Electric" <%= car.type === "Electric" ? "selected" : "" %>>Electric</option>
                <option value="Convertible" <%= car.type === "Convertible" ? "selected" : "" %>>Convertible</option>
            </select>
    <label for="city">City:</label>
    <input type="text" name="city" id="city"  value="<%= car.city %>"  />
    <label for="price">Price:$</label>
    <input type="number" name="price" id="price" min="0"  value="<%= car.price %>" />
    <label for="year">Year:</label>
    <input type="number" name="year" id="year" min="1950" max="2024" maxlength="4" required  value="<%= car.year %>" >
    <label for="condition">Condition:</label>
  <select name="condition" id="condition" required>
    <option value="New" <%= car.condition === 'New' ? 'selected' : '' %>>Brand New</option>
    <option value="Used" <%= car.condition === 'Used' ? 'selected' : '' %>>Pre-owned</option>
  </select>
  <label for="miles">Miles:</label>
  <input type="number" name="miles" id="miles" min="0" value="<%= car.miles %>" required />
    <label for="phoneNumber">Phone Number:</label>
    <input type="number" name="phoneNumber" id="phoneNumber"  value="<%= car.phoneNumber %>" />
    <label for="email">Email:</label>
    <input type="email" name="email" id="email"  value="<%= car.email %>" />
    <label for="photo">Current Photo:</label>
    <% if (car.photo) { %>
      <img src="<%= car.photo %>" alt="<%= car.name %>" style="width: 200px; height: auto; border-radius: 10px; margin-bottom: 10px;" />
    <% } else { %>
      <p>No photo uploaded yet.</p>
    <% } %>
  
    <label for="photo">Change Photo:</label>
    <input type="file" name="photo" id="photo" accept="image/*" />
    <button type="submit">Edit Car</button>
  </form>
</body>
<%- include('../partials/footer.ejs') %>
