<%- include('../partials/header.ejs') %>

<!-- Search Form -->
<form action="/cars/search" method="GET" class="search-form">
  <input type="text" name="query" placeholder="Search for cars..." required>
  <button type="submit">Search</button>
</form>


<div class="car-listing">
  <% cars.forEach((car) => { %>
    <div class="car-card">
      <% if (car.photo) { %>
        <img src="<%= car.photo %>" alt="<%= car.name %>" class="car-photo" style="width: 100%; height: 220px; object-fit: cover; border-radius: 10px;" />      
        <% } else { %>
        <div class="placeholder-photo">No Photo Available</div>
      <% } %>
      <div class="car-details">
        <h3><%= car.name %> - $<%= car.price %></h3>
        <p><strong>Year:</strong> <%= car.year %></p>
        <a href="/cars/<%= car._id %>" class="view-details-button">View Details</a>
      </div>
    </div>
  <% }) %>
</div>

<%- include('../partials/footer.ejs')%>