
<%- include('../partials/header.ejs') %>

<h2>Details</h2>
<% if (car.photo) { %>
    <img src="<%= car.photo %>" alt="<%= car.name %>" />
<% } else { %>
    <p>No photo available</p>
<% } %>

<p>Car Model: <%= car.name %></p>
<p>Year: <%= car.year %></p>
<p>Car Type: <%= car.type %></p>
<p>Price: $<%= car.price %></p>
<p>Location: <%= car.city %></p>
<p>Added on: <%= car.createdAt.toLocaleDateString() %></p>
<h2>Owner</h2>
<% if (car.owner?._id.equals(user?._id)) { %>
<p>You own this!</p>
<a href="/cars/<%= car._id %>/edit">Edit Car</a>
<form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Car</button>
<% } else { %>
<p>You don't own this, <%= car.owner.username %> does!</p>
    <% } %>

    <% if (!car.owner?._id.equals(user?._id)) { %>
        <% if (isFavorited) { %>
            <p>This Car is favorited</p>
            <form action="/cars/<%= car._id %>/favorites?_method=DELETE" method="POST">
                <button type="submit">Remove from Favorites</button>
            </form>
        <% } else { %>
            <form action="/cars/<%= car._id %>/favorites" method="POST">
                <button type="submit">Add to Favorites</button>
            </form>
        <% } %>
    <% } %>
<%- include('../partials/footer.ejs')%>
